* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 20hv;
    color: rgb(8, 8, 8);
    background: transparent;
    background-color: rgb(100, 132, 161);
    /* transition: all 300ms ease-in-out; */
}

header img{
    transform: translate(110%, -10%);
}